* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

body {
  text-align: center;
  background-image: url("https://i.ibb.co/QptSx0L/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

h1 {
  color: rgba(255, 199, 0, 1);
  margin-bottom: 4px;
  font-family: 'Emilys Candy', cursive;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
}

p {
  color: white;
  margin-top: 160px;
  margin-bottom: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

p span {
  color: rgba(255, 199, 0, 1);
}

h4 {
  color: white;
  opacity: .6;
  margin-bottom: 72px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

a {
  padding: 16px 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

#readMore {
  color: white;
  opacity: .6;
  text-decoration-line: underline;
}

#playNow {
  color: black;
  background-color: rgba(255, 199, 0, 1);
  margin-left: 16px;
}