* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

body {
  background-image: url("https://i.ibb.co/QptSx0L/background-image.png");
  text-align: center;
}

h1 {
  color: rgba(255, 199, 0, 1);
}

p {
  color: white;
}

h4 {
  color: white;
  opacity: .6;
}